body {
    background-color: #FFCDD2;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../images/free-photo-bg.jpg');
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    position: relative;
    backdrop-filter: blur(10px);
    background-attachment: fixed;
}

.bg-black {
    background-color: #000;
}

#logo {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

.navbar-brand {
    padding: 14px 20px;
    font-size: 16px;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    padding: 6px 14px;
    text-align: center;
}

.nav-link {
    padding-bottom: 10px; 
}

.v-line {
    background-color: gray;
    width: 1px;
    height: 20px;
}

.navbar-collapse.collapse.in {
    display: block !important;
}

@media (max-width: 576px) {
    .nav-item {
        width: 100%;
        text-align: center;
    }

    .v-line {
        display: none;
    }
}


.content {
    text-align: center;
}


